.weather {
  background: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BKaAXTX/weather-radar-background_qyq32whr_thumbnail-1080_01.png");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: white;
  font-weight: 700;
}